.chatList {
    flex: 1;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(150, 155, 165, 0.5) transparent;

    &::-webkit-scrollbar {
        width:.1rem;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(125, 130, 139, 0.5) transparent;
        border-radius: .2rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .search {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: .2rem;

        .searchBar {
            flex: 1;
            background-color: rgba(51, 140, 224, 0.815);
            display: flex;
            align-items: center;
            gap: 1.8rem;
            border-radius: 19rem;
            padding: .2rem;

            input {
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
                font-size: 1rem;
            }

            img {
                width: 1.1rem;
                height: 1.1rem;
            }
        }

        .add {
            width: 2.5rem;
            height: 2.5rem;
            background: rgba(89, 153, 206, 0.712);
            padding: 1rem;
            border-radius: .1rem;
        }
    }

    .item {
        display: flex;
        align-items: center;
        gap: 1.4rem;
        padding: 1rem;
        cursor: pointer;
        border-bottom: .1rem solid #dddddd35;

        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            object-fit: cover;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: .6rem;

            span {
                font-weight: 300;
            }

            p {
                font-size: 1.1rem;
                font-weight: 100;
            }
        }
    }
}
